.vscode-test
.gitignore
.eslintignore
.eslintrc.js
.gitattributes
test-workspace/
diagrams/
.github

.vscode
**/node_modules
src/
client/out/test
client/out/!(main.*)
tsconfig.json
configmate/!(bin)

.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml

scripts
**/testFixture
.vscode-test
.gitignore
.eslintignore
.eslintrc.js
.gitattributes
test-workspace
diagrams
.github